# Core Dependecies
python-dotenv
streamlit

# Langchain and Core components
langchain
langchain-huggingface
langchain-core

# Embeddings and models
sentence-transformers
huggingface-hub

#Vector Store
faiss-cpu

# Dcoument parsing
pypdf

# Local package (Information Retreival App)
-e .